* {
    /* margin: 0; */
    /* padding: 0; */
    /* box-sizing: border-box; */
}

body {
    background-image: url("../assets/pexels-edgars-kisuro-1488463.jpg");
    /* position: absolute; */
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    color: white;

    /* position: center; */

}
.container{

    display: flex;
    flex-direction: column;
    align-items:center ;
    height: 70%;
justify-content: space-between;}
#headers{
    text-align: center;
    /* margin: auto; */
    height: 15px;
}
p{
    color: white;
    font-size: 26px;
}
.form{
    width: 50%;
    height: 30%;
    background-color: rgb(191, 195, 193);
    margin: auto;
    padding: 20px ;
    color: black;

}
.search-clothes{
    height: 50%;
    /* padding: 7855px; */
}
#clothes{
    height: 30px;
    font-size: 14px;
}

.line {
    color: crimson;
    font-size: x-large;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10%;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
}

.logo img {
    width: 100px;
    height: 100px;
}

.navbar {
    width: 70%;
    display: block;
}
.navbar ul li {
    display: flex;
   display: inline-block;
   align-items: center;
   padding-left: 50px;
   padding-right: 50px;
   cursor: pointer;
}
.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 22px;

}
.active,.navbar ul li:hover{
    background: crimson;
    border-radius: 3px;
    cursor: pointer;

} 
.column1 img{
   width: 450px;
   height: 450px;

}
footer{
    background: green;
    width: 80%;
    margin-top: 50px;
    padding: 20px ;
    /* justify-content: flex-end; */
}